@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_bd-webfont.woff2') format('woff2'),
        url('../fonts/aller_bd-webfont.woff') format('woff'),
        url('../fonts/aller_bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerbold_italic';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_bdit-webfont.woff2') format('woff2'),
        url('../fonts/aller_bdit-webfont.woff') format('woff'),
        url('../fonts/aller_bdit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alleritalic';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_it-webfont.woff2') format('woff2'),
        url('../fonts/aller_it-webfont.woff') format('woff'),
        url('../fonts/aller_it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_lt-webfont.woff2') format('woff2'),
        url('../fonts/aller_lt-webfont.woff') format('woff'),
        url('../fonts/aller_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aller_lightitalic';
    src: url('../fonts/aller_ltit-webfont.eot');
    src: url('../fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_ltit-webfont.woff2') format('woff2'),
        url('../fonts/aller_ltit-webfont.woff') format('woff'),
        url('../fonts/aller_ltit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_rg-webfont.woff2') format('woff2'),
        url('../fonts/aller_rg-webfont.woff') format('woff'),
        url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aller_displayregular';
    src: url('../fonts/allerdisplay-webfont.eot');
    src: url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/allerdisplay-webfont.woff2') format('woff2'),
        url('../fonts/allerdisplay-webfont.woff') format('woff'),
        url('../fonts/allerdisplay-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*main layout*/
html, body, .wrapper {
    height: 100%;
}

body {
    min-width: 960px;
}

.wrapper {
    display: table;
    width: 100%;
}

.content {
    height: 100%;
}

.content, footer {
    display: table-row;
}
.clear {
    clear: both;
}

.fix_width_container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
/*headings*/
h1 {
    font: normal 40px/40px 'aller_lightregular', Arial, sans-serif;
    color: #242424;
}

h2 {
    font: normal 20px/25px 'aller_lightregular', Arial, sans-serif;
    color: #242424;
    margin-bottom: 15px;
}

h3 {
    color: #242424;
    font: normal 14px/16px 'allerbold', Arial, sans-serif;
    text-transform: uppercase;
}

h4 {
    font: normal 14px/16px 'allerbold', Arial, sans-serif;
    color: #242424;
}

h5 {
    color: #7d7d7d;
    font: normal 14px/18px 'allerregular', Arial, sans-serif;
    text-transform: uppercase;
}

.price, .sale {
    position: absolute;
    padding: 25px 8px 24px 8px;
    background-color: #57c5a0;
    display: inline-block;
}

.price p, .sale {
    color: #fff;
    font: normal 13px/18px 'allerbold', Arial, sans-serif;
}
/*header*/

.header_top {
    background-color: #242424;
}

.header_top .logo img {
    padding: 12px 2px 2px;
}

.logo {
    float: left;
}

.logo a img, .button a {
    display: block;
}

.col2 {
    float: right;
}

header .col2 ul > li {
    display: inline-block;
}

.header_top .search {
    width: 14px;
    display: inline-block;
    padding-top: 14px;
}

.header_top .button a {
    font: normal 11px/25px 'allerregular', Arial, sans-serif;
    color: #7e7e7e;
    text-transform: uppercase;
}
.header_top .button {
    width: 138px;
    padding:8px 0;
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    text-align: center;
    margin-left: 23px;
}

.header_top .button a:hover {
    color: #fff;
}

.header_top .col2 span {
    text-transform: none;
}

/*header_navigation*/

.header_navigation {    
    background-color: #fff;  
}

.header_navigation nav li {
    display: inline-block;
    border-right: 1px solid #eee;
}

.header_navigation nav ul li > a {
    display: block;
    padding: 18px 21px 17px 21px;
}

.header_navigation nav .products {
    padding-right: 26px;
}

.header_navigation nav .about {
    padding-left: 23px;
    padding-right: 25px;
}

.header_navigation nav .pages,
.header_navigation nav .contact {
    padding-right: 24px;
}

.header_navigation nav .blog {
    padding-right: 22px;
}

.header_navigation nav {
    width: 570px;
}

.header_navigation .col2 {
    width: 181px;
}

.header_navigation nav a {
    color: #242424;
    font: normal 16px/25px 'allerregular' , Arial, sans-serif;
    letter-spacing: 0.4;
}

.header_navigation nav,
.header_navigation .col2 {
    float: left;
}

.header_navigation nav ul > li:first-child {
    border-left: 1px solid #eee;
}

.header_navigation nav {
    margin-right: 189px;
}

.header_navigation nav a:hover {
    background-color: lightgrey;
}

/*col2*/
.header_navigation .col2 ul > li:first-child {
    border-left: 1px solid #ccc;
}

.header_navigation .col2 li {
    border-right: 1px solid #ccc;
}

.header_navigation .counter1,
.header_navigation .counter2 {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
}

.header_navigation .counter1 {
    background-color: #adadad;  
}

.header_navigation .counter1:hover {
    background-color: #57c5a0;
}

.header_navigation .counter2:hover {
    background-color: #57c5a0;
}

.header_navigation .counter2 {
    background-color: #adadad;
}

.header_navigation .col2 a {
    font: normal 12px/21px 'allerbold', Arial, sans-serif;
    color: #fff;
}

.header_navigation .star,
.header_navigation .counter1 {
    float: left;
}

.header_navigation .star,
.header_navigation .basket {
    margin-right: 6px;
}

.header_navigation .basket,
.header_navigation .counter2 {
    float: left;
}

.header_navigation .col2 li {
    padding: 21px 25px 16px 22px;
}

.header_navigation .col2 img {
    display: block;
}

.header_navigation .col2 .basket img {
    padding-top: 3px;
}

/*Header*/

.header .fix_width_container {
    padding-bottom: 91px;
}

.header {
    background: #eeece8 url(../images/bg_header.jpg) no-repeat center top;
}

/*right_part*/

.header .right_part {
    width: 390px;    
    margin-left: 510px;
    padding-top: 70px;
}

.header .right_part h1{
    padding-top: 81px;
    padding-right: 91px;
    padding-bottom: 6px; 
}

/*panel_icons*/
.panel_icons li, .panel_icons li a {
    display: inline-block;
    margin-left: 2px;
}

.panel_icons li, .panel_icons li a  {
    width: 40px;
    height:40px;
}

.panel_icons .eye_icons {
    background: #fafaf9 url(../images/eye_icon.png) no-repeat center 16px;
}

.panel_icons .star_icons {
    background: #fafaf9 url(../images/star_icons.png) no-repeat center 12px;
}

.panel_icons .share_icon {
    background: #fafaf9 url(../images/share_icons.png) no-repeat center 14px;
}

.panel_icons .cart_icons {
    background: #fafaf9 url(../images/cart_icon.png) no-repeat center 13px;
}

.panel_icons .eye_icons:hover {
    background-position: center -10px; 
}

.panel_icons .star_icons:hover {
    background-position: center -16px;
}

.panel_icons .share_icon:hover {
    background-position: center -14px;
}

.panel_icons .cart_icons:hover {
    background-position: center -15px;
}

/*navigation*/

.navigation_panel {
    background-color: #2e2e2e;
}
.navigation_panel nav {
    padding-top: 6px;
}

.navigation_panel nav img {
    margin-left: -10px;
}
.navigation_panel nav li, .navigation_panel nav li a {
    display: inline-block;
}

.navigation_panel nav li {
    text-align: center;
}

.navigation_panel nav li a {
    font: normal 18px/19px 'allerregular' , Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.45;
    width: 180px;
    margin-top: -10px;
    padding-top: 17px;
    padding-bottom: 20px;
}

.navigation_panel nav li span {
    color: rgba(173, 173, 173, 0.5);
    font: normal 12px/18px 'allerregular' , Arial, sans-serif;
    letter-spacing: 0.3;
}

.navigation_panel nav ul > li {
    margin-right: 8px;
}

.navigation_panel nav > ul a {
    border-top: 6px solid transparent;
}

.navigation_panel nav > ul a:hover {
    border-color: #57c5a0;
    color: rgb(255, 255, 255);
}

.navigation_panel nav > ul a:hover span{
    color: rgb(173, 173, 173);
}

/*Overview_panel*/
.overview_panel {
    background-color: #242424;
}

.overview_panel .fix_width_container {
    padding-bottom: 16px;
}

.overview_panel a {
    font: normal 25px/60px  'aller_lightregular' , Arial , sans-serif;
    color: #fff;
    display: block;
}

.overview_panel .col1, .overview_panel .col2,
.overview_panel .col3 {
    float: left;
    width: 300px;
    display: block;
    padding-top: 25px;
    position: relative;
}

.overview_panel .col1, .overview_panel .col2 {
    margin-right: 20px;  
}

.overview_panel .block1, .overview_panel .block2, 
.overview_panel .block3 {
    position: absolute;
    background-color: rgba(44, 46, 49, 0.9);
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    top: 85px;
    left: 60px;
}

.overview_panel .block2 {
    width: 230px;
    left: 35px;
}

.overview_panel a:hover {
    text-decoration: underline;
}

/*gallery*/

.gallery_part1,
.gallery_part2 {
    background-color: #ebe7df;
}

.gallery_part1 .fix_width_container {
    padding-top: 32px;
    padding-bottom: 30px;
}

.gallery_part1 h2, .gallery_part2 h2 {
    font-size: 25px;
    margin-left: -1px;
}

.gallery_part1 .button a, .gallery_part2 .button a{
    color: #bcb5a7;
    font: normal 14px/24px 'allerbold', Arial, sans-serif;
    letter-spacing: 0.35px;
}

.gallery_part1 a:hover, .gallery_part2 a:hover {
    color: #000;
}

.gallery_part1 .headding,
.gallery_part2 .headding{
    float: left;
    width: 820px;
} 
.gallery_part1 .button,
.gallery_part2 .button{
    float: right;
    width: 98px;
    border: 1px solid #bcb5a7;
    text-align: center;
    margin-top: -2px;
}

.gallery_part1 .button a,
.gallery_part2 .button a{
    padding: 2px 19px;
    display: block;
}

.gallery_part1 .three_columns .col1, .gallery_part2 .three_columns .col1, .gallery_part1 .three_columns .col2,
.gallery_part2 .three_columns .col2, .gallery_part1 .three_columns .col3, .gallery_part2 .three_columns .col3 {
    width: 300px;
    padding-top: 15px;
    float: left;
    position: relative;
}

.gallery_part1 .bottom_part, .gallery_part2 .bottom_part {
    background-color: #fff;
    position: relative;
}

.gallery_part1 .bottom_part a, .gallery_part2 .bottom_part a {
    color: #242424;
    font: normal 18px/25px 'allerregular' , Arial, sans-serif;
    letter-spacing: 0.45;
    display: block;
    padding-top: 10px;
    padding-bottom: 14px;
    z-index: 1;
}

.gallery_part1 .bottom_part p,
.gallery_part2 .bottom_part p {
    padding-left: 92px;
}

.gallery_part1 .three_columns .col1, .gallery_part2 .three_columns .col1,
.gallery_part1 .three_columns .col2, .gallery_part2 .three_columns .col2 {
    margin-right: 20px;
}

.gallery_part1 .three_columns .price,
.gallery_part2 .three_columns .price{
    bottom: 0;
    left: 12px;
    z-index: 3;
}

.gallery_part1 .col2 .price, .gallery_part2 .col2 .price, .gallery_part1 .col3 .price,
.gallery_part2 .col3 .price {
    left: 14px;
}

.gallery_part1 .panel_icons, .gallery_part2 .panel_icons {
    display: none;
    position: absolute;
    z-index: 2;
    padding-left: 0;
    right: 40px;
    bottom: 7px;
    width: 170px;
    height: 40px;
}

.gallery_part1 .bottom_part:hover .panel_icons {
    display: block;
}

.gallery_part1 .panel_icons, 
.gallery_part2 .panel_icons {
    background-color: #fff ;
}

.gallery_part1 .panel_icons .eye_icons, .gallery_part2 .panel_icons .eye_icons, .gallery_part1 .panel_icons .star_icons,
.gallery_part2 .panel_icons .star_icons,.gallery_part1 .panel_icons .share_icon, .gallery_part2 .panel_icons .share_icon,
.gallery_part1 .panel_icons .cart_icons, .gallery_part2 .panel_icons .cart_icons  {
    background-color: #fff;
}

.gallery_part1 .panel_icons a,
.gallery_part2 .panel_icons a{
    padding-top: 0;
    padding-bottom: 0;
}

/*gallery_part2*/

.gallery_part2 .fix_width_container {
    padding-top: 8px;
}

.gallery_part2 .bottom_part:hover .panel_icons {
    display: block;
}

.gallery_part2 .col3 {
    position: relative;
}
.gallery_part2 .col3 .sale, .gallery_part1 .col2 .sale {
    text-align: center;
    background-color: #f27e4b;
    top: 15px;
    right: 11px;
    padding: 16px 10px;
}

.gallery_part2 .col3 .sale p, .gallery_part1 .col2 .sale p {
    text-transform: uppercase;
}

.gallery_part1 .col2 .sale {
    background-color: #242424;
    padding: 22px 8px;
}

/*Line*/
.line_conatainer, .topics {
    background-color: #ebe7df;
}

.line {
    background: url(../images/bg-line.png) repeat-x 0 46px;
    padding-top: 74px;

}

/*section*/

section .fix_width_container {
    padding-bottom: 41px;
}

section .col1, section .col2 {
    width: 205px;
    float:left;
    padding-top: 29px;
    padding-left: 15px;
    background-color: #dfdbd4;
}

section .col1 {
    margin-right: 20px;
    padding-bottom: 13px;
}

section .col1 p, section .col2 p {
    padding-right: 15px;
}

section .col2 {
    padding-left:16px;
    padding-bottom: 7px;
}

section .col2 span {
    font: normal 12px/16px 'alleritalic', Arial, sans-serif;
}

section .col3 {
    width: 443px;
    float: right;
    margin-left: 19px;
    padding-top: 29px;
    background: #dfdbd4;
    padding-left: 17px;
}

section .date, section .news {
    float: left;
}

section .col2 p {
    padding-bottom: 5px;
}

section .col2 span {
    padding-left: 5px;
}
section p {
    font: normal 12px/16px 'allerregular', Arial, sans-serif;
    color: #242424;
    display: block;
}

section .col1 h3,
section .col2 h3 {
    padding-bottom: 12px;
}

section .col3 h3 {
    padding-bottom: 20px;
}

section .col3 .date {
    width: 22px;
    height: 22px;
    background-color: #57c5a0;
    padding: 7px;
}

section .col3 .date p {
    font: normal 10px/12px 'allerbold', Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

section .col3 .news a:hover {
    text-decoration: underline;
}

section .col3 ul li .news {
    padding-left: 11px;
    padding-bottom: 18px;
}

/*Footer*/
/*Footer top*/

.footer_top {
    background-color: #242424;
}

.footer_top .fix_width_container {
    padding-top: 49px;
    padding-bottom: 20px;
}

.footer_top p {
    display: block;
}

.footer_top .col1, .footer_top .col2, .footer_top .col3 {
    float: left;
    width: 260px;
    margin-left: 40px;
}

.footer_top .col1 p, .footer_top .col1 h5 {
    padding-left: 2px;
}

.footer_top .col2 p, .footer_top .col2 h5 {
    padding-left: 5px;
}

.footer_top h5 {
    padding-bottom: 15px;
}

.footer_top .col3 h5 {
    padding-left: 15px;
    padding-bottom: 14px;
}

.footer_top p, .footer_top p span {
    color: #a4a4a4;
    font: normal 12px/18px 'alleritalic', Arial, sans-serif;
}

.footer_top .col2 .twitt {
    padding-bottom: 6px;
}

.footer_top .days {
    padding-bottom: 11px;
    color: #c4c5bf;
}

.footer_top .col2 a:hover {
    text-decoration: underline;
}

.footer_top .col2 a {
    color: #57c5a0;
}

/*footer top pictures*/

.footer_top .col3 .col1_pictures, .footer_top .col3 .col2_pictures {
    padding-left: 17px;
}

.footer_top .col3 ul li, .footer_top .col3 ul li a{
    display: inline-block;
}

.footer_top .col3 li {
    margin-right: 7px;
}

.footer_top .col3 .col1_pictures {
    padding-bottom: 8px;
}

.footer_top .col3 ul > li:last-child {
    margin-right: 0;
}
.footer .col3 img, .footer_top .col3 a {
    display: block;
}

/*line footer*/
.line_footer_top {
    background: url(../images/bg_line_footer.png) repeat-x 0 top;
    height: 1px;
}

/*middle footer*/

/*form*/

.middle_footer .fix_width_container {
    padding-top: 39px;
    padding-bottom: 44px;
}

.middle_footer col1, middle_footer col2 {
    width: 270px;
}

.middle_footer .email {
    background-color: #2e2e2e;
    color: #7d7d7d;
    font: normal 12px/14px 'alleritalic', Arial, sans-serif;
    border: 1px solid #2e2e2e;
    width: 186px;
    padding: 11px 14px 9px 14px;
    margin-left: 40px;
}

.middle_footer .submit {
    background: #7d7d7d url(../images/bg_button.png) no-repeat center center;
    border: 1px solid #7d7d7d;
    width: 36px;
    height: 36px;
}

.middle_footer .col1 {
    float: left;
}

.middle_footer .col2 {
    float: right;
}

/*social icons*/

.middle_footer {
    background-color: #242424;
}
.middle_footer .social_icon ul li  {
    display: inline-block;
    margin-right: 8px;
}

.middle_footer .social_icon a {
    display: block;
    background-color: #2e2e2e;
}

.middle_footer .social_icon .fb a {
    padding: 7px 13px 6px 13px;
}

.middle_footer .social_icon .twitter a, .middle_footer .social_icon .google a {
    padding: 10px 8px 6px 8px;
}

.middle_footer .social_icon .linkedin a {
    padding: 7px 9px 6px 9px; 
}

.middle_footer .social_icon .fickr a {
    padding: 14px 8px 6px 8px;
}

.middle_footer .social_icon .fickr img {
    padding-bottom: 4px;
}

.middle_footer a:hover {
    background-color: #242424;
}

.middle_footer .submit:hover {
    background-color: #000;
}

/*footer bottom*/

.footer_bottom {
    background-color: #2e2e2e;
}
.footer_bottom .fix_width_container {
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 28px;
}

.footer_bottom p, .footer_bottom a {
    color: rgba(255, 255, 255, 0.5);
    font: normal 12px/13px 'allerregular', Arial, sans-serif;
    letter-spacing: 0.3px;
}

.footer_bottom a:hover {
    color: #fff;
}

.footer_bottom .col1, .footer_bottom .col2 {
    float: left;
}

.footer_bottom .col2 {
    width: 333px;
    padding-top: 7px;
}
.footer_bottom .col1 {
    margin-right: 431px;
    width: 176px;
}

.footer_bottom .col1 p {
    padding-bottom: 4px;
}

.footer_bottom ul > li {
    display: inline-block;
    margin-right: 2px;
}